* {
  box-sizing: border-box;
}

.body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 70px 20px 32px;
  margin-bottom: 30px;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1f2022;
  border-radius: 20px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  background-color: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  padding-right: 17px;
  align-items: center;
  max-width: 830px;
  width: 50%;
}

.input__search {
  background-color: transparent;
  border: none;
  padding: 12px 23px 12px 23px;
  max-width: 830px;
  width: 830px;
}

.button__search {
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon__search {
  fill: black;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icons-link {
  display: flex;
  align-items: center;
  /* opacity: 0.24; */
}

.icons-link:hover {
  opacity: 100%;
  fill: #ff0000;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* sidebar */

.sidebar {
  padding-left: 32px;
}

.nav-menu {
  margin-top: 0px;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav__item {
  padding-bottom: 28px;
}

.nav__item:last-child {
  padding-bottom: 0px;
}
.nav__item .icon {
  opacity: 0.24;
  fill: #898989;
}

.nav__text {
  margin-left: 13px;
}

/* subscription */
.nav-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #000000;
  margin-bottom: 30px;
}

.nav__image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.nav__link {
  display: flex;
  align-items: center;
  color: #898989;
}
.nav__link:hover {
  color: #ff0000;
}

.nav__link:hover .icon {
  fill: #ff0000;
  opacity: 100%;
}

.nav-setting {
  margin-top: 103px;
  margin-bottom: 40px;
  padding-left: 0px;
  list-style: none;
}

.text__setting {
  color: #c2c2c2;
  margin-left: 13px;
}

.text__setting:hover {
  color: #ff0000;
}
